<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <!--<behavior>
          --><!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment --><!--
          <serviceMetadata httpGetEnabled="true"/>
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>-->
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true"/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentInstances="1000" maxConcurrentSessions="1000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" >
      <serviceActivations>
        <add relativeAddress="RainDrop.svc" service="Tavisca.RainDrop.Service.RainDropService"/>
      </serviceActivations>
    </serviceHostingEnvironment>

    <services>
      <!--SERVICES-->
      <service name="Tavisca.RainDrop.Service.RainDropService">
        <endpoint kind="webHttpEndpoint" contract="Tavisca.RainDrop.Service.IRainDrop" />
        <endpoint kind="mexEndpoint" address="mex" />
      </service>
    </services>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <connectionStrings>
    <add name="mysql.seed" connectionString="Server=localhost;Database=dgossamercore;Uid=root;Pwd=test123!@#;"/>
  </connectionStrings>
  <appSettings>
    <add key="ServerId" value="1"/>
    <add key="DataCenterId" value="1"/>
  </appSettings>
</configuration>
